body {
    max-width: 1000px;
    margin: auto;
}

.resources {
    margin-bottom: 50px;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    text-align: left;
    color: white;
    background-color: black;
    padding: 5px;
}


/*.content * { border: 1px dashed gray; }*/